@model Codecool.CodecoolShop.Models.OrderModel

@{
    ViewData["Title"] = "Order";
}

@if (ViewBag.cart != null && ViewBag.cart.Count > 0)
{
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Photo</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        @foreach (var item in ViewBag.cart)
        {
            <tr>
                <td>@item.Product.Id</td>
                <td>@item.Product.Name</td>
                <td><img src="../img/@(item.Product.Name).jpg" width="60" /></td>
                <td>@item.Product.DefaultPrice</td>
                <td>@item.Quantity</td>
                <td>@(item.Product.DefaultPrice * item.Quantity)</td>
            </tr>
        }
        <tr>
            <td align="right" colspan="6">Sum</td>
            <td>
                @ViewBag.total
            </td>
        </tr>
    </table>
}
else
{
    <p>
        Your cart is empty.
    </p>
}
<div>


    <h3>Shipping Details</h3>
    <p>First Name: @ViewBag.OrderDetails["FirstName"] </p>
    <p>Last Name: @ViewBag.OrderDetails["LastName"]</p>

    <h3>Contact Details:</h3>
    <p>Email: @ViewBag.OrderDetails["Email"]</p>
    <p>Phone Number: @ViewBag.OrderDetails["PhoneNumber"]</p>


    <h3>Shipping Address:</h3>
    <p>@ViewBag.OrderDetails["CountryShip"]</p>
    <p>@ViewBag.OrderDetails["CityShip"]p</p>
    <p>@ViewBag.OrderDetails["ZipCodeShip"]</p>
    <p>@ViewBag.OrderDetails["StreetShip"]</p>
    <p>@ViewBag.OrderDetails["NumberShip"]</p>

    <h3>Billing Address: </h3>
    <p>@ViewBag.OrderDetails["CountryBill"]</p>
    <p>@ViewBag.OrderDetails["CityBill"]</p>
    <p>@ViewBag.OrderDetails["ZipCodeBill"]</p>
    <p>@ViewBag.OrderDetails["NumberBill"]</p>

</div>
<a type="button" class="btn btn-secondary" style="float: bottom" asp-area="" asp-controller="Cart" asp-action="Cart">Back to cart</a>
<a type="button" class="btn btn-primary" style="float: bottom" asp-area="" asp-controller="Payment" asp-action="Index">Go to payment</a>

