@{
    ViewData["Title"] = "Categories";
}


<h1>@ViewData["Title"]</h1>

<p>This is the page to display products by categories</p>

@model List<Codecool.CodecoolShop.Models.Product>

<div class="container">
    @foreach (var element in Model)
     {
        <div class="col-lg-3 item" style="display: inline-block; max-width: 350px; margin-bottom: 10px;">
            <div class="card">
                <img src="../img/@(element.Name).jpg" style="max-height: 159px; width: auto; align-self: center; padding-top: 10px">

                <div class="card-body">
                    <h5 class="card-title">@element.Name</h5>
                    <p class="card-text">@element.Description</p>
                    <p class="card-text">Category: @element.ProductCategory.Department</p>
                    <p class="card-text">Supplier: @element.Supplier.Name</p>
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <p class="card-text text-center" style="margin: 0;"><strong>Price: @element.DefaultPrice.ToString("C2")</strong></p>
                        <a type="button" class="btn btn-primary" asp-area="" asp-controller="Cart" asp-action="buy" asp-route-id="@element.Id" style="margin-left: auto;">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>




